version: '3'

services:
  database:
    image: mariadb:11.8.5@sha256:1cac8492bd78b1ec693238dc600be173397efd7b55eabc725abc281dc855b482
    ports:
      - "3306:3306"
    volumes:
      - .:/srv/jekyll
    environment:
      MARIADB_USER: spring
      MARIADB_PASSWORD: test
      MARIADB_DATABASE: discordmodbot
      MARIADB_ROOT_PASSWORD: test
  redis:
    image: redis:7.4.4@sha256:2582cc7e28849e4bdca8b991c3ede503ec706112d2eb2feb2191e9e980d37e92
    ports:
      - "6379:6379"
