version: '3'

services:
  database:
    image: mariadb:12.1.2@sha256:e1bcd6f85781f4a875abefb11c4166c1d79e4237c23de597bf0df81fec225b40
    ports:
      - "3306:3306"
    volumes:
      - .:/srv/jekyll
    environment:
      MARIADB_USER: spring
      MARIADB_PASSWORD: test
      MARIADB_DATABASE: discordmodbot
      MARIADB_ROOT_PASSWORD: test
  redis:
    image: redis:8.4.0@sha256:43355efd22490e31ca14b9d569367d05121e2be61fd8e47937563ae2a80952ae
    ports:
      - "6379:6379"
