version: '3'

services:
  database:
    image: mariadb:11.8.5@sha256:1cac8492bd78b1ec693238dc600be173397efd7b55eabc725abc281dc855b482
    ports:
      - "3306:3306"
    volumes:
      - .:/srv/jekyll
    environment:
      MARIADB_USER: spring
      MARIADB_PASSWORD: test
      MARIADB_DATABASE: discordmodbot
      MARIADB_ROOT_PASSWORD: test
  redis:
    image: redis:8.4.0@sha256:43355efd22490e31ca14b9d569367d05121e2be61fd8e47937563ae2a80952ae
    ports:
      - "6379:6379"
