name: Dependency Submission

on:
  push:
    branches:
      - main

jobs:
  Dependency_Submission:
    name: Dependency Submission
    runs-on: ubuntu-latest
    
    permissions: # The Dependency Submission API requires write permission
      contents: write

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Java JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: 17
          distribution: liberica

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          dependency-graph-include-configurations: 'RuntimeClasspath'
