name: Dependency Submission

on:
  push:
    branches:
      - main

jobs:
  Dependency_Submission:
    name: Dependency Submission
    runs-on: ubuntu-latest
    
    permissions: # The Dependency Submission API requires write permission
      contents: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Java JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 17
          distribution: liberica

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          dependency-graph-include-configurations: 'RuntimeClasspath'
