name: Dependency Submission

on:
  push:
    branches:
      - main

jobs:
  Dependency_Submission:
    name: Dependency Submission
    runs-on: ubuntu-latest
    
    permissions: # The Dependency Submission API requires write permission
      contents: write

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Java JDK
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          java-version: 17
          distribution: liberica

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@06832c7b30a0129d7fb559bcc6e43d26f6374244 # v4.3.1
        with:
          dependency-graph-include-configurations: 'RuntimeClasspath'
