name: Test MariaDB

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    services:
      mariadb:
        image: mariadb:11.8.5@sha256:1cac8492bd78b1ec693238dc600be173397efd7b55eabc725abc281dc855b482
        ports:
          - 3306:3306
        env:
          MARIADB_USER: spring
          MARIADB_PASSWORD: test
          MARIADB_DATABASE: discordmodbot
          MARIADB_ROOT_PASSWORD: test
        options: >-
          --health-cmd "/usr/local/bin/healthcheck.sh --su-mysql --connect --innodb_initialized"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Java JDK
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          java-version: 17
          distribution: liberica

      - name: Run Setup Gradle
        uses: gradle/actions/setup-gradle@06832c7b30a0129d7fb559bcc6e43d26f6374244 # v4.3.1

      - name: Run Gradle check
        run: ./gradlew check
        env:
          SPRING_DATASOURCE_URL: jdbc:mariadb://127.0.0.1:3306/discordmodbot
          SPRING_DATASOURCE_USERNAME: spring
          SPRING_DATASOURCE_PASSWORD: test
          SPRING_DATASOURCE_DRIVERCLASSNAME: org.mariadb.jdbc.Driver
