name: Validate Renovate config

on:
  push:
    branches:
      - main
    paths:
      - renovate.json
  pull_request:
    branches:
      - main
    paths:
      - renovate.json

permissions:
  contents: read

jobs:
  validate-renovate-config:
    name: Validate Renovate config
    runs-on: ubuntu-latest
    timeout-minutes: 5

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node.js environment
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*

      - name: Validate Renovate config
        run: npx --package renovate -c renovate-config-validator
